# https://projectlombok.org/features/configuration

# configuration file is in the root of the workspace directory only
config.stopBubbling = true
# If true, lombok will generate a @java.beans.ConstructorProperties annotation when generating constructors.
lombok.anyConstructor.addConstructorProperties=true
# Do not use experimental annotations
lombok.experimental.flagUsage=ERROR
# Lombok marks generated code with @lombok.Generated, so JaCoCo can understand it
lombok.addLombokGeneratedAnnotation = true
